.cRufqc {
  margin-left: 270px;
  width: 1000px;
  padding: 20px;
}

.dVKpwM {
  margin-top: 50px;
}

.dVKpwM h1 {
  font-weight: 900;
  letter-spacing: 2px;
}

.hWQzFJ {
  width: 100%;
}

.gMMQQA {
  margin-top: 60px;
  font-size: 22px;
  font-weight: bold;
}

.gyBjzW {
  width: 50px;
  height: 30px;
  background-color: green;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
}

.cmMCQp {
  width: 50px;
  height: 30px;
  background-color: rgb(64, 112, 236);
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
}

.ksmAft {
  width: 100%;
  background-color: black;
  color: rgb(255, 255, 255);
  height: 40px;
  line-height: 40px;
  text-indent: 10px;
  margin-top: 10px;
  letter-spacing: 1px;
  border-radius: 5px;
}

.ksmAft span {
  color: rgb(167, 248, 255);
}

.idnNek {
  color: grey;
  margin-top: 10px;
}

.cgLjMM table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(64, 64, 64);
  border-image: initial;
}

.cgLjMM table th {
  background: rgb(238, 238, 238);
}

.cgLjMM table th,
.cgLjMM table td {
  height: 30px;
  text-indent: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(64, 64, 64);
  border-image: initial;
}

.hzfKcW .inputDiv {
  height: 40px;
}

.hzfKcW .inputDiv label {
  width: 120px;
  display: inline-block;
}

.hzfKcW .inputDiv input {
  width: 500px;
  height: 25px;
  border-radius: 5px;
}

.iJAXNg {
  margin-top: 20px;
}

.iJAXNg button {
  line-height: 20px;
  color: rgb(51, 51, 51);
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.75) 0px 1px 1px;
  width: 100px;
  height: 30px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  outline: 0px;
}
