/* sidebar 전체 */
.cXdfkr {
  left: 0px;
  top: 0px;
  position: fixed;
  width: 230px;
  background-color: rgb(238, 238, 238);
  height: 100%;
  padding: 20px;
}

/* sidebar main menu inactive*/
.hgGTJo {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-indent: 10px;
  margin-bottom: 15px;
  background-color: rgb(255, 255, 255);
  color: rgb(60, 146, 202);
  font-weight: bold;
  cursor: pointer;
}
/* sidebar main menu active */
.SDYKW {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-indent: 10px;
  margin-bottom: 15px;
  background-color: rgb(60, 146, 202);
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
}

/* sidebar sub menu inactive*/
.kdhIax {
  height: 25px;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 10px;
  color: rgb(60, 146, 202);
  background-color: rgb(238, 238, 238);
  text-indent: 15px;
  cursor: pointer;
}

/* sidebar sub menu active*/
.jSbGOb {
  height: 25px;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(60, 146, 202);
  text-indent: 15px;
  cursor: pointer;
}
